<ul>
  <% @content.each do |row| %>
    <li>
    <% if config.fetch(:github_url, nil) && row[0].length >= 7 %>
      <a href="<%= config.github_url %>/commit/<%= row[0] %>"><%= row[0] %></a>
    <% else %>
      <%= row[0] %>
    <% end %>

    <%= row[1] %>
    </li>
  <% end %>
</ul>
